<!DOCTYPE html>
<html>
<head>
    <!--编码格式UTF-8-->
    <meta charset="UTF-8">

    <!-- latest Angular javascript -->
    <script src="https://tomcat-wkmnet.rhcloud.com/js/angular.min.js"></script>

    <!--bootstrap css-->
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!--jquery-->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <!--bootstrap js-->
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <title>首页</title>
</head>

<script>
    var topMenu = angular.module("topMenu",[]);
    topMenu.controller("loadMenuController",function($scope,$http){
        $http.get('/loadMenus').success(function(response){
            $scope.menus = response;
        });

    });
</script>
<body>
<div ng-app="topMenu" ng-controller="loadMenuController">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">掌富通导航</a>
        </div>
        <div>
            <ul class="nav navbar-nav" ng-repeat="m in menus">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{m.menuName}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="cm in m.childMenus">
                            <a target="_blank" href="{{cm.menuUrl}}">{{cm.menuName}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>